MONGODB_URL=mongodb://localhost:27017/mitchs-record-club-local?replicaSet=rs0
MONGODB_DB_NAME=mitchs-record-club-local
MONGO_RS_HOST=localhost:27017
PAYLOAD_SECRET=replace-me


MONGO_RS_HOST=localhost:27017

