MONGODB_URL=mongodb://localhost:27017/mitchs-record-club-local?replicaSet=rs0
MONGODB_DB_NAME=mitchs-record-club-local
MONGO_RS_HOST=localhost:27017
PAYLOAD_SECRET=replace-me

S3_BUCKET_NAME=
S3_ENDPOINT=
S3_ACCESS_KEY_ID=
S3_ACCESS_KEY_SECRET=

# Used by `minio` service
MINIO_ROOT_USER=
MINIO_BUCKET_NAME=mitchs-record-club-local

MONGO_RS_HOST=localhost:27017

