dist/

# ignore auto generated payload files
payload-types.ts
src/app/\(payload\)/layout.tsx
src/app/\(payload\)/admin/importMap.js
src/app/\(payload\)/admin/\[\[...segments\]\]/page.tsx
src/app/\(payload\)/admin/\[\[...segments\]\]/not-found.tsx
src/app/\(payload\)/api/payload/\[\[...slug\]\]/route.ts

db/