/** 
 * These are opionated base styles for the project
 * look at `locale.css` for any specific text rules that apply to specific locales
 */

/**
 * 1. (opinionated) on Webkit browsers, quote marks hang outside the box for better visuals.
 * 2. default to 16px or 1rem, apply to html not body, default to 100% or 1rem: 
 * https://adrianroselli.com/2024/03/the-ultimate-ideal-bestest-base-font-size-that-everyone-is-keeping-a-secret-especially-chet.html#Update01
 */
html {
  hanging-punctuation: first last; /* 1 */
  font-size: 100%; /* 2 */
}

/** 
 * 1. Make sure body is at least 100% high, if this causes issues, you can remove it
 */
body {
  min-height: 100svh; /* 1 */
  color: var(--color-text);
  line-height: 1.5;
  font-family: var(--ff-bull-text);
  -webkit-font-smoothing: antialiased; /* 2 */
}

/**
 * 1. Languages like German and Turkish have been problematic with large words
 * causing horizontal overflow in headings because they are too long even when
 * they are on a line by themselves.
 * 
 * In situations where this styling causes words to wrap in problematic places
 * we recommend adding a "soft-hyphen" to the long word in Contentful, to 
 * *hint* to the browser where the optimal place to wrap (and add a hyphen)
 * would be.
 *
 * This might need to be broken out into the `locales.css` and only apply to specific languages.
 *
 * 2. "pretty" seems to work better on headings than "balance"…
 * 3. … but it's not supported in Firefox and Safari, so "balance" is used as a 
 *    fallback.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance; /* 3 */
  text-wrap: pretty; /* 2 */

  overflow-wrap: break-word; /* 1 */
}

/** 
 * 1. Stop orphans/widows
 *
 * We might want to add "break-word" globally then remove it for certain locales via `locales.css`
 */
p {
  text-wrap: pretty; /* 1 */
  overflow-wrap: break-word;
}

/* Any raw links get an underline and color */
a:not([class]) {
  color: inherit;
  text-decoration: underline;
}
